{
  "extends": ["plugin:jsx-a11y/recommended", "@upstatement/eslint-config/react"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/no-unescaped-entities": ["error", { "forbid": [">", "\"", "}"] }]
  }
}
