.center-container {
  position: fixed !important; /* Changed from absolute to fixed */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000; /* to make sure it stays on top of other elements */
}

.star-wars-div {
  position: relative;
  /* left: 50%;
    top: 50%; */
  -webkit-transform: perspective(300px) rotateX(50deg);
  -moz-transform: perspective(300px) rotateX(50deg);
  -ms-transform: perspective(3000px) rotateX(50deg);
  -o-transform: perspective(300px) rotateX(50deg);
  transform: perspective(300px) rotateX(25deg);
}
